[Unit]
Description=SorteadorCore .NET Core 2.1

[Service]
WorkingDirectory=/app
ExecStart=/usr/bin/sudo /usr/bin/dotnet /app/SorteadorCore.Web.dll
Restart=always
RestartSec=10
SyslogIdentifier=SorteadorCore.Web

[Install]
WantedBy=multi-user.target
