[Unit]
Description=SorteadorFolgados .NET Core 2.1

[Service]
WorkingDirectory=/home/dominiosorteio/SorteadorCore/SorteadorFolgados/bin/Release/netcoreapp2.1/publish
ExecStart=/usr/bin/sudo /usr/bin/dotnet /home/dominiosorteio/SorteadorCore/SorteadorFolgados/bin/Release/netcoreapp2.1/publish/SorteadorFolgados.dll
Restart=always
RestartSec=10
SyslogIdentifier=SorteadorFolgados

[Install]
WantedBy=multi-user.target
