@model SorteadorFolgados.ViewModel.SalaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SalaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <input asp-for="SalaId" class="form-control" />
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeVencedoresMaioresPontos" class="control-label"></label>
                <input asp-for="QuantidadeVencedoresMaioresPontos" class="form-control" />
                <span asp-validation-for="QuantidadeVencedoresMaioresPontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeVencedoresMenoresPontos" class="control-label"></label>
                <input asp-for="QuantidadeVencedoresMenoresPontos" class="form-control" />
                <span asp-validation-for="QuantidadeVencedoresMenoresPontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
