<h2 class="mdc-typography--headline4">Configuração de Salas</h2>

<p>
    <a asp-action="Create" class="mdc-button">Criar Nova Sala</a>
</p>
<div class="mdc-data-table">
    <table id="salas" class="mdc-data-table__table">
        <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">
                    Sala ID
                </th>
                <th class="mdc-data-table__header-cell">
                    Nome da Sala
                </th>
                <th class="mdc-data-table__header-cell">
                    Número de Vencedores (Maiores Pontos)
                </th>
                <th class="mdc-data-table__header-cell">
                    Número de Vencedores (Menores Pontos)
                </th>
                <th class="mdc-data-table__header-cell">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
        </tbody>
    </table>
</div>
<script src="~/js/salas.js"></script>
<script>
    obterSalas(preencherSalas);
</script>