
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SorteadorFolgados.ViewModel.ResetSorteio
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sortear">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label><input asp-for="Nome" required class="form-control" placeholder="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
                <input type="submit" value="Sortear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>