@model SorteadorCore.Web.ViewModel.SalaViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2 class="mdc-typography--headline4">Editar Sala</h2>
<hr />
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell--span-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <label asp-for="SalaId" class="mdc-floating-label"></label>
                <input id="salaId" asp-for="SalaId" class="mdc-text-field__input" disabled />
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div><br />
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <label asp-for="Nome" class="mdc-floating-label"></label>
                <input id="nome" asp-for="Nome" class="mdc-text-field__input" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div><br />
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <label asp-for="QuantidadeVencedoresMaioresPontos" class="mdc-floating-label"></label>
                <input id="quantidadeVencedoresMaioresPontos" asp-for="QuantidadeVencedoresMaioresPontos" class="mdc-text-field__input" />
                <span asp-validation-for="QuantidadeVencedoresMaioresPontos" class="text-danger"></span>
            </div><br />
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <label asp-for="QuantidadeVencedoresMenoresPontos" class="mdc-floating-label"></label>
                <input id="quantidadeVencedoresMenoresPontos" asp-for="QuantidadeVencedoresMenoresPontos" class="mdc-text-field__input" />
                <span asp-validation-for="QuantidadeVencedoresMenoresPontos" class="text-danger"></span>
            </div><br />
            <div>
                <button class="mdc-button mdc-button--raised" onclick="editarSalaClick()">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="mdc-button">Voltar para a lista</a>
</div>
<script src="~/js/salas.js"></script>