<div class="mdc-layout-grid mdc-typography--body2">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-1"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-6">
                    <span id="nomeSorteio" class="mdc-typography--headline4"></span><br />
                    <span id="datasSorteio" class="mdc-typography--headline6"></span>
                    <br />
                    <button class="mdc-button" onclick="document.location.reload(true)"><span class="mdc-button__ripple"></span>Atualizar Resultados</button>
                </div>
                <div class="mdc-form-field mdc-form-field--align-end mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-bottom mdc-layout-grid--align-right">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input id="nomeParticipante" required maxlength="150" onkeyup="sortearClick(event)" class="mdc-text-field__input" />
                        <div class="mdc-line-ripple"></div>
                        <label class="mdc-floating-label" for="nomeParticipante">Nickname</label>
                    </div>
                    <button class="mdc-button mdc-button--raised" onclick="sortearClick()">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Sortear</span>
                    </button>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-data-table mdc-layout-grid__cell--span-12">
                    <table id="Participacoes" class="mdc-data-table__table" aria-label="Participações">
                        <thead>
                            <tr class="mdc-data-table__header-row">
                                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Pontos</th>
                                <th width="300px" class="mdc-data-table__header-cell" role="columnheader" scope="col">Nome</th>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">IP</th>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Data e Hora</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Ação</th>
                                }
                                else
                                {
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Status da Participação</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="mdc-data-table__content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <div class="mdc-typography--subtitle1">
                <h3 class="mdc-typography mdc-typography--subtitle1">Vencedores desta Semana</h3>
            </div>
            <div id="vencedoresSemana0" class="mdc-chip-set mdc-chip-set--choice mdc-elevation--z1" role="grid">
                <div class="mdc-chip mdc-chip--selected" role="row">
                    <div class="mdc-chip__ripple"></div>
                    <span role="gridcell">
                        <span id="vencedorSalaAtual" role="button" tabindex="0" class="mdc-chip__text"></span>
                    </span>
                </div>
            </div>

            <div class="mdc-typography--subtitle1">
                <h3 class="mdc-typography mdc-typography--subtitle1">Há Uma Semana</h3>
            </div>
            <div id="vencedoresSemana1" class="mdc-chip-set mdc-elevation--z1" role="grid">
            </div>

            <div class="mdc-typography--subtitle1">
                <h3 class="mdc-typography mdc-typography--subtitle1">Há Duas Semanas</h3>
            </div>
            <div id="vencedoresSemana2" class="mdc-chip-set mdc-elevation--z1" role="grid">
            </div>

            <div class="mdc-typography--subtitle1">
                <h3 class="mdc-typography mdc-typography--subtitle1">Há Três Semanas</h3>
            </div>
            <div id="vencedoresSemana3" class="mdc-chip-set mdc-elevation--z1" role="grid">
            </div>

            <div class="mdc-typography--subtitle1">
                <h3 class="mdc-typography mdc-typography--subtitle1">Há Quatro Semanas</h3>
            </div>
            <div id="vencedoresSemana4" class="mdc-chip-set mdc-elevation--z1" role="grid">
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-1"></div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sorteios.js"></script>
<script>
    var userAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    obterVencedores();
</script>
